qemu/
virtualbox-iso/
vmware-iso/

# Created by https://www.gitignore.io/api/packer

### Packer ###
# Cache objects
packer_cache/

# For built boxes
*.box

# End of https://www.gitignore.io/api/packer
centos-7.3-x86_64
.vault_pass
*.retry
.venv
centos-7.x-x86_64/
