qemu/
virtualbox-iso/
vmware-iso/
packer_plugins/
ansible/collections
# Created by https://www.gitignore.io/api/packer

### Packer ###
# Cache objects
packer_cache/

# For built boxes
*.box

# End of https://www.gitignore.io/api/packer

.vault_pass
.vault_password
*.retry
.venv

.idea