#!/bin/bash
echo "
,--.  ,--.,----.    ,-----.,--.  ,--.
\  \.'  /'  .-./   '  .--./|  ,'.|  |
 \     / |  | .---.|  |    |  |' '  |
  \   /  '  '--'  |'  '--'\|  | \   |
   \-'    \------'  \-----'\--'  \--'
====================================================
Hostname......: `hostname -f`
Release.......: {{ ansible_distribution }} Linux release {{ ansible_distribution_version }} ({{ ansible_distribution_release }})
Build.........: {{ cloud }} vgcn build v{{ vgcn_build }}
Build Date....: {{ ansible_date_time.iso8601 }}
====================================================
Current user..: root
Load..........: `cat /proc/loadavg`
Condor........: `condor_q | grep jobs`
===================================================="
