# BEGIN ANSIBLE MANAGED BLOCK

# HTCondor configuration for Virtual Galaxy central manager
#ETC = /etc/condor
CONDOR_HOST = {{ condor_master }}
ALLOW_WRITE = {{ condor_allowed_write }}
ALLOW_READ = $(ALLOW_WRITE)
#ALLOW_ADMINISTRATOR = {{ condor_allowed_admin }}
#ALLOW_NEGOTIATOR = $(ALLOW_ADMINISTRATOR)
#ALLOW_CONFIG = $(ALLOW_ADMINISTRATOR)
#ALLOW_DAEMON = $(ALLOW_ADMINISTRATOR)
#ALLOW_OWNER = $(ALLOW_ADMINISTRATOR)
#ALLOW_CLIENT = *
DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD

# define FS and UID domains
FILESYSTEM_DOMAIN = bi.uni-freiburg.de
UID_DOMAIN = bi.uni-freiburg.de
TRUST_UID_DOMAIN = True
SOFT_UID_DOMAIN = True

# > put jobs using resources excessively on hold
# no, this belongs on the /submit/ host, but keep it commented here
# for documentation purposes
#
#SYSTEM_PERIODIC_HOLD = \
#  (JobStatus == 1 || JobStatus == 2) && \
#  ((time() - JobStartDate) >= ((86400) + (84600) - 900))
#SYSTEM_PERIODIC_HOLD_REASON = \
#  ifThenElse(((time() - JobStartDate) >= ((86400) + (84600) - 900)), \
#             "Maximum wallclock time exceeded", \
#             "Unspecified reason")


# END ANSIBLE MANAGED BLOCK
