#
install
url --url=http://ftp1.scientificlinux.org/linux/scientific/6.9/x86_64/os/
lang en_US.UTF-8
keyboard us
network --activate --bootproto=dhcp --device=eth0 --onboot=on --ipv6=auto
# small python script to extract the password from the kernel command line
# expects the password given as: rootpw=<password>
%pre --interpreter=/usr/bin/python
import shlex, crypt
arg = 'rootpw='
with open('/proc/cmdline', 'r') as f:
  kcl = f.read().split()
# extract the password
passwords = [x[len(arg):] for x in kcl if x.startswith(arg)]
if len(passwords) == 1:
  kclpass = passwords[0]
# TODO sane fallbacks. This should work most of the time though :)
# generate SHA512 hash
hash = crypt.crypt(kclpass, crypt.mksalt(crypt.METHOD_SHA512))
with open('/tmp/setup-root-pass', 'w') as f:
  f.write('rootpw --iscrypted ' + hash)
%end
# include the created password file
%include /tmp/setup-root-pass
#
services --enabled ssh
#
reboot
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc Europe/Berlin
bootloader --append=" sshd=1" --location=mbr --driveorder=sda
#
#autopart --type=plain --fstype=ext4
zerombr
clearpart --drives=sda --all --initlabel
#part swap --fstype="swap" --ondisk=sda --size=1024 --label=swap
part / --fstype="ext4" --ondisk=sda --size=3072 --grow --label=SLX_SYS
#
repo --name "Scientific Linux" --baseurl=http://ftp1.scientificlinux.org/linux/scientific/6.9/x86_64/os/ --cost=100
#
skipx
#sshpw --username=install DPmn$65! --plaintext --lock
#
%packages
@base
@compat-libraries
@core
%end
