[Unit]
Description=Pulsar
After=syslog.target network.target

[Service]
Type=simple
Environment=PULSAR_VIRTUALENV={{ pulsar_venv_dir }}
ExecStart={{ pulsar_venv_dir }}/bin/pulsar -c {{ pulsar_config_dir }}
User={{ pulsar_owner }}

[Install]
WantedBy=multi-user.target
