selected_scheme scheme-{{ scheme }}
TEXDIR {{ texlive_directory }}
TEXMFSYSCONFIG {{ texlive_directory }}/texmf-config
TEXMFSYSVAR {{ texlive_directory }}/texmf-var
TEXMFHOME ~/texlive/texmf
TEXMFVAR ~/texlive/texmf-var
TEXMFCONFIG  ~/texlive/texmf-config
TEXMFLOCAL ~/texlive/texmf-local
option_doc 0
option_src 0
